@model Survey
@{
    ViewData["Title"] = "Опрос";
}
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link rel="stylesheet" href="~/css/DisplaySurvey.css" />
<div>
    @*style="min-width: 500px;"*@
    <h2>@Model.Title</h2>
    <form id="questonForm" asp-controller="DisplaySurvey" asp-action="SetResult" method="post">
        <div class="content-box">
            @foreach (var question in Model.SurveyQuestion)
            {
                <div class="question-card">
                    <div class="question-title">
                        @question.QuestionText@if (question.IsRequired)
                        {
                            <span class="IsRequired">*</span>
                        }
                    </div>

                    <ul class="list-unstyled">
                        @switch (question.Type)
                        {
                            case 0: /*Радиобаттон*/
                                {
                                    @foreach (var Option in question.Options)
                                    {
                                        <li>
                                            <input type="radio" name=@question.Id value=@Option.Id
                                                   @(question.UserAnswers?.SingleOrDefault()?.OptionsForAnswers?.Any(ob => ob.OptionId == Option.Id) == true ? "checked" : "")
                                                   @(question.IsRequired == true ? "data-val-required = The IsSelected field is required. data-rule-customv = " + question.Id + " class=input-validation-error" : "") />
                                            <span>@Option.Text</span>
                                        </li>
                                    }
                                    @if (question.HasOwnAnswer)
                                    {
                                        <li>
                                            <input type="radio" name=@question.Id value="custom" data-questionid="@question.Id"
                                                   for="@("customAnswer" + question.Id)" @(string.IsNullOrEmpty(question.UserAnswers?.SingleOrDefault()?.OwnAnswerText) == false ? "checked" : "")
                                                   @(question.IsRequired == true ? "data-val-required = The IsSelected field is required. data-rule-customv = " + question.Id + " class=input-validation-error" : "") />
                                            <input id=@("customAnswer" + question.Id) type="text" value="@(question.UserAnswers?.SingleOrDefault()?.OwnAnswerText)" placeholder="Свой вариант." />
                                        </li>
                                    }
                                    break;
                                }
                            case 1: /*чекбокс*/
                                {
                                    @foreach (var Option in question.Options)
                                    {
                                        <li>
                                            <input type="checkbox" name=@question.Id value=@Option.Id
                                                   @(question.UserAnswers?.SingleOrDefault()?.OptionsForAnswers?.Any(ob => ob.OptionId == Option.Id) == true ? "checked" : "")
                                                   @(question.IsRequired == true ? "data-val-required = The IsSelected field is required. data-rule-customv = " + question.Id + " class=input-validation-error" : "") />
                                            <span>@Option.Text</span>
                                        </li>
                                    }
                                    @if (question.HasOwnAnswer)
                                    {
                                        <li>
                                            <input type="checkbox" name=@question.Id value="custom" data-questionid="@question.Id"
                                                   for="@("customAnswer" + question.Id)" @(string.IsNullOrEmpty(question.UserAnswers?.SingleOrDefault()?.OwnAnswerText) == false ? "checked" : "")
                                                   @(question.IsRequired == true ? "data-val-required='The IsSelected field is required.' data-rule-customv='" + question.Id + "' class='input-validation-error'" : "") />
                                            <input id=@("customAnswer" + question.Id) type="text" value="@(question.UserAnswers?.SingleOrDefault()?.OwnAnswerText)" placeholder="Свой вариант." />
                                        </li>
                                    }
                                    break;
                                }
                            case 2: /*Только текстовый ответ*/
                                {
                                    <li>
                                        <input id="@question.Id" data-mycastomtextanswer="trye" type="text" value="@(question.UserAnswers?.SingleOrDefault()?.OwnAnswerText)" placeholder=""
                                               @(question.IsRequired == true ? "data-val-required = The IsSelected field is required. data-rule-customText = " + question.Id + " class=input-validation-error" : "") />
                                    </li>
                                    break;
                                }
                            default:
                                break;
                        }

                    </ul>
                    <span id="@("ErrorMessage" + question.Id)" class="error-message">Необходимо дать ответ на этот вопрос!</span>
                </div>
            }
        </div>
        <input type="submit" id="submitButton" value="Отправить" />
    </form>
</div>
<script type="text/javascript">
    $(function () {
        // Валидатор
        jQuery.validator.addMethod("customv", function (value, element, params) {
            let errMessageBox = $('#ErrorMessage' + params);
            if ($('input[name="' + params + '"]:checked').length > 0) {
                // Если есть выбранные чекбоксы
                let flag = true;
                $('input[name="' + params + '"]:').each(function () {
                    // Проходим по всем выбранным чекбоксам, и ищем
                    let textBoxId = $(this).attr('for');
                    if (textBoxId) {checked
                        if (!$('#' + textBoxId).val().length > 0) {
                            // Если был выбран "Свой вариант ответа" и в текстовом поле нет символов, говорим что все плохо
                            flag = false;
                            return false;
                        }
                    }
                });
                if (!flag) {
                    errMessageBox.show();
                    return false;

                }
                else {
                    errMessageBox.hide();
                    return true;
                }
            } else {
                errMessageBox.show();
                return false;
            }

        }, jQuery.validator.format(""));
        // Валидатор для текстбоксов
        jQuery.validator.addMethod("customText", function (value, element, params) {
            let errMessageBox = $('#ErrorMessage' + params);
            if ($('#' + params).val().length > 0) {
                errMessageBox.hide();
                return true;
            } else {
                errMessageBox.show();
                return false;
            }
        }, jQuery.validator.format(""));

        $('#questonForm').submit(function () {
            event.preventDefault();
            if (!$('form').validate().form()) { // проверили валидацию
                return;
            }
            let json = '{ "surveyId": "@Model.Id", "anew": "@ViewBag.anew", "data": { '; // формируем тело запроса
            // ищем все радиобаттоны и чекбоксы(типы 0 и 1)
            let inputArr = $('input:radio, input:checkbox');
            let index = 0;
            for (let i = 0; i < inputArr.length; i++) {
                if (inputArr[i].checked == true) {
                    if (inputArr[i].value == 'custom') {
                        json += ' "' + index++ + '": { "type": "custom", "questionId": "' + inputArr[i].getAttribute('name') +'", "text": "' + $('#' + inputArr[i].getAttribute('for')).val() + '"}, ';
                    } else {
                        json += ' "' + index++ + '": { "type": "standart", "questionId": "' + inputArr[i].getAttribute('name') +'", "optionId": "' + inputArr[i].value + '"}, ';
                    }
                }
            }
            // проверяем текстовые ответы(тип 2)
            let textBoxArr = $('input[data-mycastomtextanswer="trye"]');
            for (let i = 0; i < textBoxArr.length; i++) {
                json += ' "' + index++ + '": { "type": "custom", "questionId": "' + textBoxArr[i].id + '", "text": "' + textBoxArr[i].value + '"}, ';

            }

            json = json.substring(0, json.length - 2) + '}}'; // заканчиваем формирование json
            $.ajax({ // отправляем запрос
                type: 'POST',
                url:  '@Url.Action("SaveResult", "DisplaySurvey")',//'SaveResult',
                data: json,
                contentType: "application/json",
                dataType: 'text',
                success: function (data) {
                    let res = JSON.parse(data);
                    if (res.ok) {
                        window.location = res.newUrl;
                    } else {
                        alert("Произошел сбой");
                    }
                },
                error: function () {
                    alert("Произошел сбой");
                }
            });
        })
    })
</script>