@model Survey
@{
    ViewData["Title"] = "Опрос";
}
<h2>@Model.Title</h2>
<form id="questonForm" asp-controller="Survey" asp-action="SetResult" method="post">
    <div>
        @foreach (var question in Model.SurveyQuestion)
        {
            <div style="margin-top: 30px;">
                <h4>@question.QuestionText@if (question.IsRequired)
                { 
                    <div class="IsRequired" id="@question.Id" style="color:red;">*</div>
                }
                </h4>
                <ul class="list-unstyled">
                    @foreach (var Option in question.Options)
                    {
                        <li><input type=@(question.Type == 0 ? "radio" : "checkbox") name=@question.Id value=@Option.Id 
                                   @(question.UserAnswers?.SingleOrDefault()?.OptionsForAnswers?.Any(ob => ob.OptionId == Option.Id) == true ? "checked" : "") /> @Option.Text</li>
                    }
                    @if (question.HasOwnAnswer)
                    {
                        <li><input type="@(question.Type == 0 ? "radio" : "checkbox")" name=@question.Id value="custom" data-questionid="@question.Id" 
                                   for="@("customAnswer" + question.Id)" @(string.IsNullOrEmpty(question.UserAnswers?.SingleOrDefault()?.OwnAnswerText) == false ? "checked" : "")/> 
                    <input id=@("customAnswer" + question.Id) type="text" value="@(question.UserAnswers?.SingleOrDefault()?.OwnAnswerText)"/></li>
                    }
                </ul>
            </div>
        }
    </div>
    <input type="submit" id="submitButton" value="Отправить" style="margin-top:30px;" />

</form>
<script type="text/javascript">
    $(function () {
        $('#questonForm').submit(function () {
            event.preventDefault();
            if (!validate()) {
                alert('Пожалуйста ответьте на все обязательные вопросы.');
                return;
            }
            var json = '{ "surveyId": "@Model.Id", "anew": "@ViewBag.anew", "data": { ';
            var inputArr = $('input:radio, input:checkbox');
            for (var i = 0, index = 0; i < inputArr.length; i++) {
                if (inputArr[i].checked == true) {
                    if (inputArr[i].value == 'custom') {
                        json += ' "' + index++ + '": { "type": "custom", "questionId": "' + inputArr[i].getAttribute('name') +'", "text": "' + $('#' + inputArr[i].getAttribute('for')).val() + '"}, ';
                    } else {
                        json += ' "' + index++ + '": { "type": "standart", "questionId": "' + inputArr[i].getAttribute('name') +'", "optionId": "' + inputArr[i].value + '"}, ';
                    }
                }
            }
            if (json.length < 3) {
                alert("error");
            }
            json = json.substring(0, json.length - 2) + '}}';
            $.ajax({
                type: 'POST',
                url:  '@Url.Action("SaveResult", "Survey")',//'SaveResult',
                data: json,
                contentType: "application/json",
                dataType: 'text',
                success: function (data) {
                    var res = JSON.parse(data);
                    if (res.ok) {
                        window.location = res.newUrl;
                    } else {
                        alert("Произошел сбой");
                    }
                },
                error: function () {
                    alert("Произошел сбой");
                }
            });
        })
        function validate() {
            var question = $('.IsRequired');
            for (var i = 0; i < question.length; i++) {
                if ($('input[name="' + question[i].id + '"]:checked').length < 1) {
                    return false;
                }
            }
            return true;
        }
    })
</script>