@model Survey
@{
    ViewData["Title"] = "Опрос";
}
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<style>
    .contentBox div:nth-child(2n) {
        background-color: #D2D2D2;
    }

    .container.body-content { /*убрал отступы в мастерстранице*/
        margin: 0;
        padding: 0;
        width: 100%;
    }
    input[type=text] {
        transition: 0.6s;
        border: none;
        border-bottom: 1px solid #CCC;
        background-color: transparent;
    }
</style>
<div>
    <h2 style="text-align: center;">@Model.Title</h2>
    <form id="questonForm" asp-controller="Survey" asp-action="SetResult" method="post">
        <div class="contentBox">
            @foreach (var question in Model.SurveyQuestion)
            {
                <div style="padding: 15px 30px;">
                    <div style="font-size:18px">
                        @question.QuestionText@if (question.IsRequired)
                        {
                            <span class="IsRequired" id="@question.Id" style="color:red;">*</span>
                        }
                    </div>

                    <ul class="list-unstyled">
                        @foreach (var Option in question.Options)
                        {
                            <li>
                                <input type=@(question.Type == 0 ? "radio" : "checkbox") name=@question.Id value=@Option.Id
                                       @(question.UserAnswers?.SingleOrDefault()?.OptionsForAnswers?.Any(ob => ob.OptionId == Option.Id) == true ? "checked" : "")
                                       data-val-required="The IsSelected field is required." data-rule-customv="@question.Id" class="input-validation-error" /> @Option.Text
                                </li>
                            }
                        @if (question.HasOwnAnswer)
                        {
                            <li>
                                <input type="@(question.Type == 0 ? "radio" : "checkbox")" name=@question.Id value="custom" data-questionid="@question.Id"
                                       for="@("customAnswer" + question.Id)" @(string.IsNullOrEmpty(question.UserAnswers?.SingleOrDefault()?.OwnAnswerText) == false ? "checked" : "") />
                                    <input id=@("customAnswer" + question.Id) type="text" value="@(question.UserAnswers?.SingleOrDefault()?.OwnAnswerText)" placeholder="Свой вариант."/>
                            </li>
                        }
                    </ul>
                    <span id="@("ErrorMessage" + question.Id)" style="color:red; display:none;">Необходимо дать ответ на этот вопрос!</span>
                </div>
            }
        </div>
        <input type="submit" id="submitButton" value="Отправить" style="margin:30px;" />
    </form>
</div>
<script type="text/javascript">
    $(function () {
        // Валидатор
        jQuery.validator.addMethod("customv", function (value, element, params) {
            var errMessageBox = $('#ErrorMessage' + params);
            if ($('input[name="' + params + '"]:checked').length > 0) {
                errMessageBox.hide();
                return true;
            }
            errMessageBox.show();
            return false;
        }, jQuery.validator.format(""));

        $('#questonForm').submit(function () {
            event.preventDefault();
            if (!$('form').validate().form()) { // проверили валидацию
                return;
            }
            var json = '{ "surveyId": "@Model.Id", "anew": "@ViewBag.anew", "data": { '; // формируем тело запроса
            var inputArr = $('input:radio, input:checkbox');
            for (var i = 0, index = 0; i < inputArr.length; i++) {
                if (inputArr[i].checked == true) {
                    if (inputArr[i].value == 'custom') {
                        json += ' "' + index++ + '": { "type": "custom", "questionId": "' + inputArr[i].getAttribute('name') +'", "text": "' + $('#' + inputArr[i].getAttribute('for')).val() + '"}, ';
                    } else {
                        json += ' "' + index++ + '": { "type": "standart", "questionId": "' + inputArr[i].getAttribute('name') +'", "optionId": "' + inputArr[i].value + '"}, ';
                    }
                }
            }
            if (json.length < 3) { // проверка на правильность формирования
                alert("error");
            }
            json = json.substring(0, json.length - 2) + '}}';
            $.ajax({ // отправляем запрос
                type: 'POST',
                url:  '@Url.Action("SaveResult", "Survey")',//'SaveResult',
                data: json,
                contentType: "application/json",
                dataType: 'text',
                success: function (data) {
                    var res = JSON.parse(data);
                    if (res.ok) {
                        window.location = res.newUrl;
                    } else {
                        alert("Произошел сбой");
                    }
                },
                error: function () {
                    alert("Произошел сбой");
                }
            });
        })
    })
</script>