@model Survey

@{
    ViewData["Title"] = "Редактирование опроса " + Model.Title;
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/autosize-master/dist/autosize.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>


<script src="~/lib/autosize-master/dist/autosize.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
<script src="~/js/jquery.ddslick.min.js"></script>
<script src="~/js/html2canvas.min.js"></script>
<link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.css" />





<style>

    a.dd-selected {
        color: rgba(51, 51, 51, 0.78);
    }

    label.dd-selected-text {
        cursor: pointer;
        font-size: 14px;
    }

    a.dd-option {
        color: rgba(51, 51, 51, 0.78);
    }

    label.dd-option-text {
        cursor: pointer;
        color: rgba(51, 51, 51, 0.78);
        font-size: 14px;
    }

    .dd-container,
    .dd-select,
    .dd-options.dd-click-off-close {
        width: 100% !important;
    }

    .question-settings {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /*width: 90%;*/
        margin-left: 5%;
    }

    .leftdiv {
        width: 60%;
        margin-right: 0.5em;
        margin-top: 1em;
    }

    .rightdiv {
        width: 40%;
    }

    .contentBox {
        background-color: white;
        border: 1px solid;
        width: 742px;
        margin-top: 1em;
    }

    input[type=text] {
        transition: 0.6s;
        border: none;
        border-bottom: 1px solid #CCC;
        background-color: transparent;
    }

    textarea {
        transition: 0.6s;
        border: none;
        border-bottom: 1px solid #CCC;
        background-color: transparent;
    }

    .box {
        /*border-top-style: groove;*/
        /*border-top-width: thin;*/
    }


        .box.header input,
        .box.header textarea {
            width: 100%;
        }

    input:focus,
    textarea:focus {
        outline: none;
    }

    .hl {
        border-bottom: 1px solid #c7c7c7;
        /*margin-left: auto;*/
        /* margin-right: auto;*/
        /* width: 95%*/
    }

    .vl {
        border-right: 1px solid #c7c7c7; /* Параметры линии */
        height: 30px;
        width: 1px;
    }

    .questionfooter {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .optionseparation {
        display: flex;
        align-items: center;
        margin-top: 1em;
    }

    .optionleft {
        width: 5%;
        display: flex;
    }

    .optionright {
        width: 95%;
        display: flex;
        align-items: center;
    }

    #left-menu {
        top: 60px;
        right: -100px;
        position: fixed;
        position: absolute;
        -webkit-transition: all .3s cubic-bezier(0.4,0.0,0.2,1);
        transition: all .4s cubic-bezier(0.07, 0.01, 0.9, 0.99);
        height: 135px;
        width: 50px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 13px rgba(0,0,0,0.25), 0 0px 4px rgba(0,0,0,0.22);
    }

        #left-menu > div {
            margin: 5px 0 5px 0;
            opacity: .54;
        }

            #left-menu > div:hover {
                opacity: 1;
            }

    html, body {
        height: 100%;
    }

    .toggle {
        position: relative;
        display: block;
        width: 40px;
        height: 20px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transform: translate3d(0, 0, 0);
    }

        .toggle:before {
            content: "";
            position: relative;
            top: 3px;
            left: 3px;
            width: 34px;
            height: 14px;
            display: block;
            background: #9A9999;
            border-radius: 8px;
            transition: background 0.2s ease;
        }

        .toggle span {
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            display: block;
            border: 1px solid darkgrey;
            background: white;
            border-radius: 10px;
            box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
            transition: all 0.2s ease;
        }

            .toggle span:before {
                content: "";
                position: absolute;
                display: block;
                margin: -18px;
                width: 56px;
                height: 56px;
                background: rgba(79, 46, 220, 0.5);
                border-radius: 50%;
                transform: scale(0);
                opacity: 1;
                pointer-events: none;
            }

    input[type=checkbox]:checked + .toggle:before {
        background: #947ADA;
    }

    input[type=checkbox]:checked + .toggle span {
        background: #4F2EDC;
        transform: translateX(20px);
        transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
        box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
    }

        input[type=checkbox]:checked + .toggle span:before {
            transform: scale(1);
            opacity: 0;
            transition: all 0.4s ease;
        }

    .center {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 20px);
    }

    .form-input {
        margin-top: 5%;
        width: 90%;
        margin-left: 5%
    }

    div[name=picture] {
        opacity: .54;
    }

        div[name=picture]:hover {
            opacity: 1;
        }

    #another {
        display: flex;
        align-items: center;
        margin-top: 1em;
    }

    .option-input {
        width: 92%;
        height: 30px;
        font-size: 15px;
        margin-left: 5px;
    }

    #questions .box {
        border-top-style: groove;
        border-top-width: thin;
        margin-left: 5%;
        width: 90%;
    }

    #questions .box:last-child {
        border-bottom-style: groove;
        border-bottom-width: thin;
    }
</style>


<div class="form-container">

    <form id="SurveyForm">
        <div style="position: relative;">
            <div id="left-menu">
                <div style="background: url(/images/SurveyIcon.svg) no-repeat -2px -3168px; width: 20px; height: 24px; cursor: pointer;" onclick="AddQuestion()"></div>
                <div style="background: url(/images/SurveyIcon.svg) no-repeat -5px -1203px; width: 14px; height: 18px; cursor: pointer;" onclick="RemoveSurvey('@Model.Id')"></div>
                <div id="savebutton" style="background:url(/images/save.svg) no-repeat; width: 20px; height: 20px; cursor: pointer;" onclick="Save()"></div>
                <div style="background: url(/images/SurveyIcon.svg) no-repeat -1px -2620px; width: 22px; height: 16px; cursor: pointer;" onclick="Show()"></div>
            </div>
        </div>
        <div class="box header">

            <div class="form-input">
                <input id="SurveyName" style="height: 46px;font-size: 30px; " type="text" placeholder="Название опроса" required autocomplete="off"
                       oninvalid="this.setCustomValidity('Введите название опроса')"
                       oninput="setCustomValidity('')" value="@Model.Title">
            </div>
            <div class="form-input">
                <textarea id="SurveyDescription" rows="1" style="resize:none; font-size:20px" placeholder="Описание (не обязательно)">@Model.Description</textarea>
            </div>
        </div>

        <div id="questions">
            @{
                string idhelper = "";
                var surveyquestions = Model.SurveyQuestion;
                for (int i = 0; i < surveyquestions.Count(); ++i)
                {
                    var surveyquestion = surveyquestions.First(x => x.Order == i);
                    <div id="@surveyquestion.Id" class="box" style="margin-top:1em;">

                        <div style="justify-content: center;display: flex;margin-top:1em;">
                            @{
                                idhelper = "move" + surveyquestion.Id;
                            }
                            <img id="@idhelper" src="/images/questiondots.png" style="cursor:move;" width="20" height="10">
                        </div>


                        <div class="question-settings">
                            <div class="leftdiv">
                                <textarea rows="1" style="resize:none;width:90%;height: 36px;font-size: 20px; margin-right:5%;" type="text" placeholder="Название вопроса" required oninvalid="this.setCustomValidity('Введите название вопроса')" oninput="setCustomValidity('')">@surveyquestion.QuestionText</textarea>
                            </div>
                            <div class="rightdiv">
                                @{
                                    idhelper = surveyquestion.Id + "select";
                                }
                                <select id="@idhelper" style="width:100%;display:none;">
                                    @if (surveyquestion.Type == 0)
                                    {
                                        <option value="0" data-imagesrc="/images/text.png" data-description=" ">Текст</option>
                                        <option value="1" selected="selected" data-imagesrc="/images/radiobox.png" data-description=" ">Один из списка</option>
                                        <option value="2" data-imagesrc="/images/checkbox.png" data-description=" ">Несколько из списка</option>
                                    }
                                    else if (surveyquestion.Type == 1)
                                    {
                                        <option value="0" data-imagesrc="/images/text.png" data-description=" ">Текст</option>
                                        <option value="1" data-imagesrc="/images/radiobox.png" data-description=" ">Один из списка</option>
                                        <option value="2" selected="selected" data-imagesrc="/images/checkbox.png" data-description=" ">Несколько из списка</option>
                                    }
                                    else if (surveyquestion.Type == 2)
                                    {
                                        <option value="0" selected="selected" data-imagesrc="/images/text.png" data-description=" ">Текст</option>
                                        <option value="1" data-imagesrc="/images/radiobox.png" data-description=" ">Один из списка</option>
                                        <option value="2" data-imagesrc="/images/checkbox.png" data-description=" ">Несколько из списка</option>
                                    }
                                </select>
                            </div>
                        </div>

                        @{
                            idhelper = "options" + surveyquestion.Id;
                        }
                        <div id="@idhelper" name="options">
                            @{
                                var options = surveyquestion.Options;
                                @for (int j = 0; j < options.Count; ++j)
                                {
                                    var option = options.First(x => x.Order == j);
                                    <div id="@option.Id" class="optionseparation">

                                        <div class="optionleft">
                                            @{
                                                idhelper = "move" + option.Id;
                                            }
                                            <img id="@idhelper" src="/images/optiondots.png" width="10" height="20" style="cursor:move;">
                                        </div>

                                        <div class="optionright">
                                            <img id="image" src="/images/radioboxoptions.png" width="20" height="20">
                                            <input class="option-input" type="text" placeholder="Ответ" required="" oninvalid="this.setCustomValidity('Введите ответ')" oninput="setCustomValidity('')" value="@option.Text">
                                            <div name="picture" style="background: url('/images/SurveyIcon.svg') no-repeat -5px -4061px; width: 14px; height: 14px; zoom:1.4; cursor: pointer;" onclick="RemoveOption('@option.Id')"></div>
                                        </div>

                                    </div>
                                }
                            }
                        </div>

                        <div id="textoption" style="margin-top:1em;margin-left:5%;display:none">
                            <input style="width:94.5%;height: 30px;font-size: 15px;" disabled type="text" placeholder="Текстовый ответ">
                        </div>


                        @if (surveyquestion.HasOwnAnswer)
                        {
                            <div id="another" style="display:normal;">
                                <img id="image" src="/images/radioboxoptions.png" width="20" height="20" style="margin-left:5%;">
                                <input class="option-input" style="width:87%;" disabled type="text" placeholder="Другое...">
                                <div name="picture" style="background: url('/images/SurveyIcon.svg') no-repeat -5px -4061px; width: 14px; height: 14px; zoom:1.4; cursor: pointer;" onclick="RemoveAnother('@surveyquestion.Id')"></div>
                            </div>
                        }
                        else
                        {
                            <div id="another" style="display:none;">
                                <img id="image" src="/images/radioboxoptions.png" width="20" height="20" style="margin-left:5%;">
                                <input class="option-input" style="width:87%;" disabled type="text" placeholder="Другое...">
                                <div name="picture" style="background: url('/images/SurveyIcon.svg') no-repeat -5px -4061px; width: 14px; height: 14px; zoom:1.4; cursor: pointer;" onclick="RemoveAnother('@surveyquestion.Id')"></div>
                            </div>
                        }


                        <div id="addnew" style="margin-top:1em">
                            <img id="image" src="/images/radioboxoptions.png" width="20" height="20" style="margin-left:5%;">
                            <input style="height: 30px;font-size: 15px;width:127px" type="text" placeholder="Добавить вариант" onclick="AddOption('@surveyquestion.Id')" onkeydown="OnChangeAdd('@surveyquestion.Id')">
                            @if (surveyquestion.HasOwnAnswer)
                            {
                                <label style="display:none;font-weight:normal"> или <a style="cursor:pointer;font-weight:bold" onclick="AddAnother('@surveyquestion.Id')">ДОБАВИТЬ ВАРИАНТ "ДРУГОЕ"</a></label>
                            }
                            else
                            {
                                <label style="display:normal;font-weight:normal"> или <a style="cursor:pointer;font-weight:bold" onclick="AddAnother('@surveyquestion.Id')">ДОБАВИТЬ ВАРИАНТ "ДРУГОЕ"</a></label>
                            }
                        </div>

                        <div class="hl" style="margin-top:1em;"></div>

                        <div class="questionfooter" style="margin-top:0.5em;margin-bottom:0.5em;">
                            <div name="picture" style="background: url(/images/SurveyIcon.svg) no-repeat -5px -1203px; width: 14px; height: 18px;margin-right:2em;cursor: pointer;" onclick="RemoveQuestion('@surveyquestion.Id')"></div>
                            <div class="vl" style="margin-right:2em"></div>
                            <div style="margin-right:0.5em">
                                <label style="color:rgba(51, 51, 51, 0.78);">Обязательный вопрос</label>
                            </div>
                            <div>
                                @{
                                    idhelper = surveyquestion.Id + "required";
                                }
                                @if (surveyquestion.IsRequired)
                                {
                                    <input type="checkbox" id="@idhelper" checked style="display:none" />
                                }
                                else
                                {
                                    <input type="checkbox" id="@idhelper" style="display:none" />
                                }
                                <label for="@idhelper" class="toggle"><span name="span"></span></label>
                            </div>
                        </div>

                    </div>

                }
            }
        </div>

        <input id="submitButton" disabled class="submit" type="submit" style="display:none">

    </form>

</div>
<!--
    <div style="border-bottom-style: groove; border-width: thin; margin-top:0em">

</div>
    -->

<div id="error-message" title="Ошибка сохранение!" style="display:none">
    <p>
        Необходимо добавить вопрос!
    </p>
</div>

<div id="error-message2" title="" style="display:none">
    <p>
        Опрос нельзя изменять, поскольку его уже проходили!
    </p>
</div>

<div id="save-message" title="Сохранение!" style="display:none">
    <p>
        Опрос сохраняется!
    </p>
    <img src="~/images/loading.gif" width="115" height="115" style="display: block;margin: 0 auto;" />
</div>

<div id="remove-message" title="Удаление!" style="display:none">
    <p>
        Опрос удаляется!
    </p>
    <img src="~/images/loading.gif" width="115" height="115" style="display: block;margin: 0 auto;" />
</div>

<script>
    var addedquest;
    var addedopt;
    var check;

    $(document).ready(function () {
        addedquest = 0;
        addedopt = 0;
        autosize($('textarea'));
        $('#questions').sortable({
            axis: 'y',
            containment: '#questions',
            opacity: 1,
            tolerance: 'pointer'
        });
        $(window).scroll(function (e) {
            $('#left-menu').css('top', $(window).scrollTop() + 60 + 'px')
        });

        $(window).resize(function () {
            try {
                $("#save-message").dialog('widget').css({ 'margin-top': '0em' });
                $("#save-message").dialog("option", "position", { my: "top", at: "top", of: window });
                $("#save-message").dialog('widget').css({ 'margin-top': '5em' });
            }
            catch{ }
            try {
                $("#error-message").dialog('widget').css({ 'margin-top': '0em' });
                $("#error-message").dialog("option", "position", { my: "top", at: "top", of: window });
                $("#error-message").dialog('widget').css({ 'margin-top': '5em' });
            }
            catch{ }
            try {
                $("#error-message2").dialog('widget').css({ 'margin-top': '0em' });
                $("#error-message2").dialog("option", "position", { my: "top", at: "top", of: window });
                $("#error-message2").dialog('widget').css({ 'margin-top': '5em' });
            }
            catch{ }
            try {
                $("#remove-message").dialog('widget').css({ 'margin-top': '0em' });
                $("#remove-message").dialog("option", "position", { my: "top", at: "top", of: window });
                $("#remove-message").dialog('widget').css({ 'margin-top': '5em' });
            }
            catch{ }
        });

        $("div[name=options]").each(function () {
            $(this).sortable({
                axis: 'y',
                containment: this,
                opacity: 1,
                tolerance: 'pointer'
            });
        });

        $('select').each(function () {
            $(this).ddslick({
                width: 200,
                onSelected: function (selectedData) {
                    var selectid = selectedData.original[0].id;
                    var questid = $("#" + selectid).parent().parent().parent()[0].id;
                    if (selectedData.selectedIndex === 0) {
                        $("#options" + questid).empty();
                        $("#" + questid + " #another").hide();
                        $("#" + questid + " #addnew").hide();
                        $("#" + questid + " #addnew label").show();
                        $("#" + questid + " #textoption").show();
                    }
                    else if (selectedData.selectedIndex === 1) {
                        $("#" + questid + " #textoption").hide();
                        $("#" + questid + " #addnew").show();
                        $("#" + questid + " #image").attr("src", "/images/radioboxoptions.png");
                    }
                    else if (selectedData.selectedIndex === 2) {
                        $("#" + questid + " #textoption").hide();
                        $("#" + questid + " #addnew").show();
                        $("#" + questid + " #image").attr("src", "/images/checkboxoptions.png");
                    }
                }
            });
        });

        MarginHead();

        $.ajax({
            url: "/Admin/GotAnswers",
            type: "GET",
            data: { id: '@Model.Id' },
            success: function (data) {
                check = data;

                if (check) {
                    ErrorMessage2(1);
                }
            }
        });
    });

    function MarginHead() {
        if ($("#questions").children().length === 0) {
            $(".header").css("margin-bottom", "5em");
        }
        else {
            $(".header").css("margin-bottom", "");
        }

    }

    function Show() {
        var url = '@Url.Action("Index", "DisplaySurvey", new { id = "--ID--" })';
        url = url.replace("--ID--", "@Model.Id");
        window.location.href = url;
    }

    function ErrorMessage2(type) {
        var tit;
        if (type === 0) {
            tit = "Ошибка сохранение!";
        }
        else {
            tit = "Уведомление";
        }


        $("#error-message2").dialog({
            width: 280,
            height: 170,
            resizable: false,
            modal: true,
            draggable: false,
            title: tit,

            closeOnEscape: false,
            open: function (event, ui) {
                $(event.target).dialog('widget')
                    .css("box-shadow", "0 10px 28px rgba(0,0,0,0.25), 0 0px 10px rgba(0,0,0,0.22)")
                    .css("border-radius", "10px")
                    .css({ position: 'fixed' })
                    .position({ my: 'top', at: 'top', of: window })
                    .css({ 'margin-top': '5em' });
                $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
            },

            close: function (event, ui) {
                $(event.target).dialog('widget')
                    .css({ 'margin-top': '0em' });
            },

            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    function ErrorMessage() {

        $("#error-message").dialog({
            width: 280,
            height: 150,
            resizable: false,
            modal: true,
            draggable: false,

            closeOnEscape: false,
            open: function (event, ui) {
                $(event.target).dialog('widget')
                    .css("box-shadow", "0 10px 28px rgba(0,0,0,0.25), 0 0px 10px rgba(0,0,0,0.22)")
                    .css("border-radius", "10px")
                    .css({ position: 'fixed' })
                    .position({ my: 'top', at: 'top', of: window })
                    .css({ 'margin-top': '5em' });
                $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
            },

            close: function (event, ui) {
                $(event.target).dialog('widget')
                    .css({ 'margin-top': '0em' });
            },

            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    function SaveMessage() {
        $("#save-message").dialog({
            width: 280,
            height: 205,
            resizable: false,
            modal: true,
            draggable: false,

            closeOnEscape: false,
            open: function (event, ui) {
                $(event.target).dialog('widget')
                    .css("box-shadow", "0 10px 28px rgba(0,0,0,0.25), 0 0px 10px rgba(0,0,0,0.22)")
                    .css("border-radius", "10px")
                    .css({ position: 'fixed' })
                    .position({ my: 'top', at: 'top', of: window })
                    .css({ 'margin-top': '5em' });
                $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
            },

            close: function (event, ui) {
                $(event.target).dialog('widget')
                    .css({ 'margin-top': '0em' });
            }
        });
    }

    function RemoveMessage() {
        $("#remove-message").dialog({
            width: 280,
            height: 205,
            resizable: false,
            modal: true,
            draggable: false,

            closeOnEscape: false,
            open: function (event, ui) {
                $(event.target).dialog('widget')
                    .css("box-shadow", "0 10px 28px rgba(0,0,0,0.25), 0 0px 10px rgba(0,0,0,0.22)")
                    .css("border-radius", "10px")
                    .css({ position: 'fixed' })
                    .position({ my: 'top', at: 'top', of: window })
                    .css({ 'margin-top': '5em' });
                $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
            },

            close: function (event, ui) {
                $(event.target).dialog('widget')
                    .css({ 'margin-top': '0em' });
            }
        });
    }

    function MakeSelectSlick(selectid) {
        $('#' + selectid).ddslick({
            width: 200,
            onSelected: function (selectedData) {
                var selectid = selectedData.original[0].id;
                var questid = $("#" + selectid).parent().parent().parent()[0].id;
                if (selectedData.selectedIndex === 0) {
                    $("#options" + questid).empty();
                    $("#" + questid + " #another").hide();
                    $("#" + questid + " #addnew").hide();
                    $("#" + questid + " #addnew label").show();
                    $("#" + questid + " #textoption").show();
                }
                else if (selectedData.selectedIndex === 1) {
                    $("#" + questid + " #textoption").hide();
                    $("#" + questid + " #addnew").show();
                    $("#" + questid + " #image").attr("src", "/images/radioboxoptions.png");
                }
                else if (selectedData.selectedIndex === 2) {
                    $("#" + questid + " #textoption").hide();
                    $("#" + questid + " #addnew").show();
                    $("#" + questid + " #image").attr("src", "/images/checkboxoptions.png");
                }
            }
        });

    }

    function RemoveSurvey(surveyid) {
        RemoveMessage();
        $.ajax({
            url: "/Admin/RemoveSurvey",
            type: "GET",
            data: { id: surveyid },
            success: function (data) {
                window.location.href = '@Url.Action("Surveys", "Admin")';
            }
        });
    }

    function AddAnother(id) {
        $("#" + id + " #another").show();
        $("#" + id + " #addnew label").hide();
    }

    function RemoveAnother(id) {
        $("#" + id + " #another").hide();
        $("#" + id + " #addnew label").show();
    }

    function AddQuestion() {


        var newquestion = "\
<div id=\"newquest{ID}\" class=\"box\" style=\"margin-top:1em;\">\
\
    <div style=\"justify-content: center;display: flex;margin-top:1em;\">\
        <img id=\"movenewquest{ID}\" src=\"/images/questiondots.png\" style=\"cursor:move;\" width=\"20\" height=\"10\">\
    </div>\
\
\
    <div class=\"question-settings\">\
        <div class=\"leftdiv\">\
            <textarea rows=\"1\" style=\"resize:none;width:90%;height: 36px;font-size: 20px; margin-right:5%;\" type=\"text\" placeholder=\"Название вопроса\" required oninvalid=\"this.setCustomValidity('Введите название вопроса')\" oninput=\"setCustomValidity('')\"></textarea>\
        </div>\
        <div class=\"rightdiv\">\
            <select id=\"newquest{ID}select\" style=\"width:100%;display:none;\">\
                <option value=\"0\" data-imagesrc=\"/images/text.png\" data-description=\" \">Текст</option>\
                <option value=\"1\" selected=\"selected\" data-imagesrc=\"/images/radiobox.png\" data-description=\" \">Один из списка</option>\
                <option value=\"2\" data-imagesrc=\"/images/checkbox.png\" data-description=\" \">Несколько из списка</option>\
            </select>\
        </div>\
    </div>\
\
    <div id=\"optionsnewquest{ID}\" name=\"options\">\
    </div>\
\
    <div id=\"textoption\" style=\"margin-top:1em;margin-left:5%;display:none\">\
        <input style=\"width:94.5%;height: 30px;font-size: 15px;\" disabled type=\"text\" placeholder=\"Текстовый ответ\">\
    </div>\
\
\
    <div id=\"another\" style=\"display:none;\">\
        <img id=\"image\" src=\"/images/radioboxoptions.png\" width=\"20\" height=\"20\" style=\"margin-left:5%;\">\
        <input class=\"option-input\" style=\"width:87%;\" disabled type=\"text\" placeholder=\"Другое...\">\
        <div name=\"picture\" style=\"background: url('/images/SurveyIcon.svg') no-repeat -5px -4061px; width: 14px; height: 14px; zoom:1.4; cursor: pointer;\" onclick=\"RemoveAnother('newquest{ID}')\"></div>\
    </div>\
\
\
    <div id=\"addnew\" style=\"margin-top:1em\">\
        <img id=\"image\" src=\"/images/radioboxoptions.png\" width=\"20\" height=\"20\" style=\"margin-left:5%;\">\
        <input style=\"height: 30px;font-size: 15px;width:127px\" type=\"text\" placeholder=\"Добавить вариант\" onclick=\"AddOption('newquest{ID}')\"  onkeydown=\"OnChangeAdd('newquest{ID}')\">\
        <label style=\"display:normal;font-weight:normal\"> или <a style=\"cursor:pointer;font-weight:bold\" onclick=\"AddAnother('newquest{ID}')\">ДОБАВИТЬ ВАРИАНТ \"ДРУГОЕ\"</a></label>\
    </div>\
\
    <div class=\"hl\" style=\"margin-top:1em;\"></div>\
\
    <div class=\"questionfooter\" style=\"margin-top:0.5em;margin-bottom:0.5em;\">\
        <div name=\"picture\" style=\"background: url(/images/SurveyIcon.svg) no-repeat -5px -1203px; width: 14px; height: 18px;margin-right:2em;cursor: pointer;\" onclick=\"RemoveQuestion('newquest{ID}')\"></div>\
        <div class=\"vl\" style=\"margin-right:2em\"></div>\
        <div style=\"margin-right:0.5em\">\
            <label style=\"color:rgba(51, 51, 51, 0.78);\">Обязательный вопрос</label>\
        </div>\
        <div>\
            <input type=\"checkbox\" id=\"newquest{ID}required\" style=\"display:none\" />\
            <label for=\"newquest{ID}required\" class=\"toggle\"><span name=\"span\"></span></label>\
        </div>\
    </div>\
\
</div>\
";
        newquestion = newquestion.replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest)
            .replace("{ID}", addedquest);


        $("#questions").append(newquestion);
        MakeSelectSlick('newquest' + addedquest + 'select');
        autosize($('#newquest' + addedquest + ' div div textarea'));
        $('#optionsnewquest' + addedquest).sortable({
            axis: 'y',
            containment: '#optionsnewquest' + addedquest,
            opacity: 1,
            tolerance: 'pointer'
        });

        addedquest++;

        MarginHead();
    }

    function RemoveQuestion(surveyquestionid) {
        $("#" + surveyquestionid).remove();
        MarginHead();
    }

    function AddOption(surveyquestionid) {
        AddOptionText(surveyquestionid, "");
    }

    function AddOptionText(surveyquestionid, text) {
        var newoption = "\
                <div id=\"newopt{ID}\" class=\"optionseparation\">\
\
                                <div class=\"optionleft\">\
                                    <img id=\"movenewopt{ID}\" src=\"/images/optiondots.png\" width=\"10\" height=\"20\" style=\"cursor:move;\">\
                                </div>\
\
                                <div class=\"optionright\">\
                                    <img id=\"image\" src=\"{TYPE}\" width=\"20\" height=\"20\">\
                                    <input class=\"option-input\" type=\"text\" placeholder=\"Ответ\" required=\"\" oninvalid=\"this.setCustomValidity('Введите ответ')\" oninput=\"setCustomValidity('')\" value=\"\">\
                                    <div name=\"picture\" style=\"background: url('/images/SurveyIcon.svg') no-repeat -5px -4061px; width: 14px; height: 14px; zoom:1.4; cursor: pointer;\" onclick=\"RemoveOption('newopt{ID}')\"></div>\
                                </div>\
\
                            </div>";

        newoption = newoption.replace("{ID}", addedopt)
            .replace("{ID}", addedopt).replace("{ID}", addedopt).replace("{TYPE}", $("#" + surveyquestionid + " #addnew #image").attr('src'));

        $("#options"+ surveyquestionid).append(newoption);

        $('#newopt' + addedopt + ' input').val(text);
        $('#newopt' + addedopt + ' input').focus();

        $("#" + surveyquestionid + " #addnew input")[0].setCustomValidity('');

        addedopt++;
    }

    function OnChangeAdd(surveyquestionid) {
        var val = $("#" + surveyquestionid + " #addnew input").val();
        $("#" + surveyquestionid + " #addnew input").val("");
        AddOptionText(surveyquestionid, val);
    }

    function RemoveOption(optionid) {
        $("#" + optionid).remove();
    }

    function Save() {

        $.ajax({
            url: "/Admin/GotAnswers",
            type: "GET",
            data: { id: '@Model.Id' },
            success: function (data) {
                check = data;

                if (check) {
                    ErrorMessage2(0);
                }
                else {
                    if (!$('#SurveyForm')[0].checkValidity()) {
            $("#submitButton").prop("disabled", false);
            $('#submitButton').click();
            $("#submitButton").prop("disabled", true);
            return;
        }

        SaveMessage();

        var title = $("#SurveyName").val();
        var description = $("#SurveyDescription").val();

        var questions = [];

        var questiondivs = $("#questions").children();

        for (var i = 0; i < questiondivs.length; i++) {
            var question = [];
            var id = questiondivs[i].id;
            question.push(id);
            question.push($("#" + id + " div div textarea").val());

            $("#" + id + "select").ddslick('destroy');
            var select = $("#" + id + "select").val();
            var type;
            if (select === "0") {
                type = "2"
            }
            else if (select === "1") {
                type = "0"
            }
            else if (select === "2") {
                type = "1"
            }

            question.push(type);

            MakeSelectSlick(id + "select");

            if ($('#' + id + ' #addnew label').css('display') == 'none') {
                question.push("True");
            }
            else {
                question.push("False");
            }

            if ($("#" + id + "required")[0].checked) {
                question.push("True");
            }
            else {
                question.push("False");
            }

            if (select != 0) {
                var options = $("#options" + id).children();
                for (var j = 0; j < options.length; j++) {
                    var optionid = options[j].id;
                    question.push(optionid);
                    question.push($("#" + optionid + " div input").val());
                }
            }
            questions.push(question);
        }

        if (questions.length == 0) {
            $("#save-message").dialog("close");
            $("#savebutton").effect("bounce");
            ErrorMessage();
            return;
        }

        for (var i = 0; i < questions.length; i++) {
            if (questions[i].length <= 5 && questions[i][2] != "2") {
                $("#" + questions[i][0] + " #addnew input")[0].setCustomValidity('Необходимо добавить ответ');
            }

            if (questions[i][2] === "2") {
                $("#" + questions[i][0] + " #addnew input")[0].setCustomValidity('');
            }
        }

        if (!$('#SurveyForm')[0].checkValidity()) {
            $("#save-message").dialog("close");
            $("#submitButton").prop("disabled", false);
            $('#submitButton').click();
            $("#submitButton").prop("disabled", true);
            return;
        }


        /* var div = "<div id=\"screenshot\"></div>";
         $("body").append(div);
         //$("#screenshot").css("display", "none");
         $("#screenshot").css("width", "1000px");
         $("#screenshot").css("height", "1000px");
         $("#screenshot").append($("body").clone());
         $("#screenshot #left-menu").remove();*/

        $("span[name=span]").each(function () {
             var a = $(this).css('transform');
             if (a.indexOf("20") >= 0) {
                 $(this).css('transform', 'translateX(10px)');
             }

         })



        html2canvas(document.body.querySelector(".container.body-content"),  {
            onclone: function (clonedDoc) {
                $('#left-menu', $(clonedDoc)).remove();
                $(".container.body-content", $(clonedDoc)).css("width", "1000px");
                //$(".container.body-content", $(clonedDoc)).css("height", "1000px");
                var color = $("body", ).css("background-color");
                $(".container.body-content", $(clonedDoc)).css("background-color", color);

                $("div[name=picture]", $(clonedDoc)).each(function () {
                    $(this).css('zoom', '1');
                })
            }
        }).then(function (canvas) {

            $("span[name=span]").each(function () {
                var a = $(this).css('transform');
                if (a.indexOf("10") >= 0) {
                    $(this).css('transform', '');
                }
            })

            canvas = crop(canvas, { x: 0, y: 0 }, { x: 1000, y: 1000 });

            var img = canvas.toDataURL("image/png");
            img = img.replace('data:image/png;base64,', '');


            $.ajax(
            {
                url: '/Admin/Save',
                type: "POST",
                data: {'id' : '@Model.Id', 'title': title, 'description': description, 'lines': questions, 'image':img },
                success: function (data) {
                    var url = '@Url.Action("Edit", "Admin", new { id = "--ID--" })';
                    url = url.replace("--ID--", data.id);
                    window.location.href = url;
                },
                error: function () {
                    $("#save-message").dialog("close");
                }
            });
        });

                }
            }
        });

        
    }

    function crop(can, a, b) {
        // get your canvas and a context for it
        var ctx = can.getContext('2d');

        // get the image data you want to keep.
        var imageData = ctx.getImageData(a.x, a.y, b.x, b.y);

        // create a new cavnas same as clipped size and a context
        var newCan = document.createElement('canvas');
        newCan.width = b.x - a.x;
        newCan.height = b.y - a.y;
        var newCtx = newCan.getContext('2d');

        // put the clipped image on the new canvas.
        newCtx.putImageData(imageData, 0, 0);

        return newCan;
    }


</script>
