@model Survey

@{
    ViewData["Title"] = "Редактирование опроса";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<style>

    .separate {
        display: flex;
        align-items: center;
        margin: 1em;
    }

    .leftdiv {
        width: 30%;
        float: left;
        display: flex;
        justify-content: flex-end;
        margin-right: 0.5em;
    }

    .rightdiv {
        width: 70%;
    }

    .box {
        border: 1px solid;
        width: 700px;
        margin-top: 1em;
    }
</style>

<div class="box">

    <div class="separate">
        <div class="leftdiv">
            <label class="h4">Название опроса: </label>
        </div>
        <div class="rightdiv">
            <input id="SurveyName" class="" style="width:90%;height: 36px;font-size: 20px;" type="text" value="@Model.Title">
        </div>
    </div>

    <div class="separate">
        <div class="leftdiv">
            <label class="h5">Описание: </label>
        </div>
        <div class="rightdiv">
            <textarea id="SurveyDescription" class="h4" style="width:90%;height:60px;resize:none;">@Model.Description</textarea>
        </div>
    </div>

</div>

<div id="questions">
    @{
        var surveyquestions = Model.SurveyQuestion;
        for (int i = 0; i < surveyquestions.Count(); ++i)
        {
            var surveyquestion = surveyquestions.First(x => x.Order == i);
    <div id="@surveyquestion.Id" class="box">
        <div class="separate">
            <div class="leftdiv">
                <label class="h4">Название вопроса: </label>
            </div>
            <div class="rightdiv">
                <input style="width:90%;height: 36px;font-size: 20px;" type="text" value="@surveyquestion.QuestionText">
            </div>
        </div>

        <div class="separate">
            <div class="leftdiv">
                <label class="h5">Выберите тип вопроса: </label>
            </div>
            <div class="rightdiv">
                <select>
                    @if (surveyquestion.Type == 0)
                    {
                        <option selected="selected">Выбор одного ответа из списка</option>
                        <option>Выбор нескольких ответов из списка</option>
                        <option>Текстовый ответ</option>
                    }
                    else if (surveyquestion.Type == 1)
                    {
                        <option>Выбор одного ответа из списка</option>
                        <option selected="selected">Выбор нескольких ответов из списка</option>
                        <option>Текстовый ответ</option>
                    }
                    else if (surveyquestion.Type == 2)
                    {
                        <option>Выбор одного ответа из списка</option>
                        <option >Выбор нескольких ответов из списка</option>
                        <option selected="selected">Текстовый ответ</option>
                    }
                </select>
            </div>
        </div>

        <div class="separate">
            <div class="leftdiv">
                <label class="h5">Добавить вариант другой: </label>
            </div>
            <div class="rightdiv">
                <select>
                    @if (surveyquestion.HasOwnAnswer)
                    {
                        <option selected="selected">Да</option>
                        <option>Нет</option>
                    }
                    else
                    {
                        <option>Да</option>
                        <option selected="selected">Нет</option>
                    }
                </select>
            </div>
        </div>

        <div class="separate">
            <div class="leftdiv">
                <label class="h5">Вопрос обязательный: </label>
            </div>
            <div class="rightdiv">
                <select>
                    @if (surveyquestion.IsRequired)
                    {
                        <option selected="selected">Да</option>
                        <option>Нет</option>
                    }
                    else
                    {
                        <option>Да</option>
                        <option selected="selected">Нет</option>
                    }
                </select>
            </div>
        </div>

        <div id="options">
            @{
                var options = surveyquestion.Options;
                @for (int j = 0; j < options.Count; ++j)
                {
                    var option = options.First(x => x.Order == j);
                    <div id="@option.Id" class="separate">
                        <div class="leftdiv">
                            <button type="button" class="btn btn-default" style="margin-right:0.25em;height: 30px;" onclick="RemoveOption('@option.Id')">Удалить</button>
                            <button type="button" class="btn btn-default" style="margin-right: 0.25em;height: 30px;" onclick="UpOption('@option.Id')">&#8593;</button>
                            <button type="button" class="btn btn-default" style="margin-right: 0.25em;height: 30px;" onclick="DownOption('@option.Id')">&#8595;</button>
                            <label class="h5">Ответ: </label>
                        </div>
                        <div class="rightdiv">
                            <input style="width:90%;height: 30px;font-size: 15px;" type="text" value="@option.Text">
                        </div>
                    </div>
                }
            }
        </div>


        <button type="button" class="btn btn-default" style="margin-left:1em" onclick="AddOption('@surveyquestion.Id')">Добавить ответ</button>
        <button type="button" class="btn btn-default" style="margin-left:0em" onclick="RemoveQuestion('@surveyquestion.Id')">Удалить вопрос</button>
        <button type="button" class="btn btn-default" style="margin-left:0em" onclick="UpQuestion('@surveyquestion.Id')">&#8593;</button>
        <button type="button" class="btn btn-default" style="margin-left:0em" onclick="DownQuestion('@surveyquestion.Id')">&#8595;</button>
    </div>
        }
    }
</div>




    <button type="button" class="btn btn-default" style="margin:1em" onclick="AddQuestion()">Добавить вопрос</button>
    <button type="button" class="btn btn-default" style="margin:0em">Сохранить</button>


    <script>
        $(document).ready(function () {
        });

        function AddQuestion() {
            $.ajax({
                url: "/Admin/AddQuestion",
                type: "GET",
                data: { surveyid: "@Model.Id" },
                success: function (data) {
                    var newquestion = "<div id=\"{SURVEYQUESTIONID}\" class=\"box\">\
        <div class=\"separate\">\
            <div class=\"leftdiv\">\
                <label class=\"h4\">Название вопроса: </label>\
            </div>\
            <div class=\"rightdiv\">\
                <input style=\"width:90%;height: 36px;font-size: 20px;\" type=\"text\" value=\"{TEXT}\">\
            </div>\
        </div>\
        <div class=\"separate\">\
            <div class=\"leftdiv\">\
                <label class=\"h5\">Выберите тип вопроса: </label>\
            </div>\
            <div class=\"rightdiv\">\
                <select>\
                    <option selected=\"selected\">Выбор одного ответа из списка</option>\
                    <option>Выбор нескольких ответов из списка</option>\
                </select>\
            </div>\
        </div>\
        <div class=\"separate\">\
            <div class=\"leftdiv\">\
                <label class=\"h5\">Добавить вариант другой: </label>\
            </div>\
            <div class=\"rightdiv\">\
                <select>\
                    <option>Да</option>\
                    <option selected=\"selected\">Нет</option>\
                </select>\
            </div>\
        </div>\
        <div class=\"separate\">\
            <div class=\"leftdiv\">\
                <label class=\"h5\">Вопрос обязательный: </label>\
            </div>\
            <div class=\"rightdiv\">\
                <select>\
                    <option>Да</option>\
                    <option selected=\"selected\">Нет</option>\
                </select>\
            </div>\
        </div>\
        <div id=\"options\">\
        </div>\
        <button type=\"button\" class=\"btn btn-default\" style=\"margin-left:1em\" onclick=\"AddOption('{QUESTIONID}')\">Добавить ответ</button>\
        <button type=\"button\" class=\"btn btn-default\" style=\"margin-left:0em\" onclick=\"RemoveQuestion('{SURVEYQUESTIONID}')\">Удалить вопрос</button>\
        <button type=\"button\" class=\"btn btn-default\" style=\"margin-left:0em\" onclick=\"UpQuestion('{QUESTIONID}')\">&#8593;</button>\
        <button type=\"button\" class=\"btn btn-default\" style=\"margin-left:0em\" onclick=\"DownQuestion('{QUESTIONID}')\">&#8595;</button>";
                    newquestion = newquestion.replace("{SURVEYQUESTIONID}", data.surveyquestionid)
                        .replace("{SURVEYQUESTIONID}", data.surveyquestionid)
                        .replace("{QUESTIONID}", data.questionid)
                        .replace("{QUESTIONID}", data.questionid)
                        .replace("{QUESTIONID}", data.questionid)
                        .replace("{TEXT}", data.text);
                    $("#questions").append(newquestion);
                }
            });
        }

        function RemoveQuestion(surveyquestionid) {
            $.ajax({
                url: "/Admin/RemoveQuestion",
                type: "GET",
                data: { surveyquestionid: surveyquestionid },
                success: function (data) {
                    $("#" + data).remove();
                }
            });
        }

        function UpQuestion(questionid) {
            $.ajax({
                url: "/Admin/UpQuestion",
                type: "GET",
                data: { questionid: questionid },
                success: function (data) {
                    if (data != null) {
                        ChangeDivs(data.firstid, data.secondid);
                    }
                }
            });
        }

        function DownQuestion(questionid) {
            $.ajax({
                url: "/Admin/DownQuestion",
                type: "GET",
                data: { questionid: questionid },
                success: function (data) {
                    if (data != null) {
                        ChangeDivs(data.firstid, data.secondid);
                    }
                }
            });
        }

        function AddOption(questionid) {
            $.ajax({
                url: "/Admin/AddOption",
                type: "GET",
                data: { questionid: questionid },
                success: function (data) {

                    var newoption = "<div id=\"{OPTIONID}\" class=\"separate\">\
                        <div class=\"leftdiv\">\
                            <button type=\"button\" class=\"btn btn-default\" style=\"margin-right:0.25em;height: 30px;\" onclick=\"RemoveOption('{OPTIONID}')\">Удалить</button>\
                            <button type=\"button\" class=\"btn btn-default\" style=\"margin-right: 0.25em;height: 30px;\" onclick=\"UpOption('{OPTIONID}')\">&#8593;</button>\
                            <button type=\"button\" class=\"btn btn-default\" style=\"margin-right: 0.25em;height: 30px;\" onclick=\"DownOption('{OPTIONID}')\">&#8595;</button>\
                            <label class=\"h5\">Ответ: </label>\
                        </div>\
                        <div class=\"rightdiv\">\
                            <input style=\"width:90%;height: 30px;font-size: 15px;\" type=\"text\" value=\"{TEXT}\">\
                        </div>\
                    </div>";

                    newoption = newoption.replace("{OPTIONID}", data.option.id).replace("{OPTIONID}", data.option.id).replace("{OPTIONID}", data.option.id).replace("{OPTIONID}", data.option.id).replace("{TEXT}", data.option.text);
                    $("#" + data.surveyquestionid).children("#options").append(newoption);
                }
            });
        }

        function RemoveOption(optionid) {
            $.ajax({
                url: "/Admin/RemoveOption",
                type: "GET",
                data: { optionid: optionid },
                success: function (data) {
                    $("#" + data).remove();
                }
            });
        }

        function UpOption(optionid) {
            $.ajax({
                url: "/Admin/UpOption",
                type: "GET",
                data: { optionid: optionid },
                success: function (data) {
                    if (data != null) {
                        ChangeDivs(data.firstid, data.secondid);
                    }
                }
            });
        }

        function DownOption(optionid) {
            $.ajax({
                url: "/Admin/DownOption",
                type: "GET",
                data: { optionid: optionid },
                success: function (data) {
                    if (data != null) {
                        ChangeDivs(data.firstid, data.secondid);
                    }
                }
            });
        }

        function ChangeDivs(firstid, secondid) {
            var div1 = document.getElementById(firstid);
            var innerdiv1 = div1.innerHTML;
            var div2 = document.getElementById(secondid);
            var innerdiv2 = div2.innerHTML;
            div1.id = secondid;
            div2.id = firstid;
            div1.innerHTML = innerdiv2;
            div2.innerHTML = innerdiv1;
        }


    </script>
