@model Survey

@{
    ViewData["Title"] = "Редактирование опроса " + Model.Title;
}

<script src="~/lib/jquery/dist/jquery.js"></script>


<script src="~/lib/autosize-master/dist/autosize.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
<script src="~/js/jquery.ddslick.min.js"></script>
<script src="~/js/polyfill.min.js"></script>
<script src="~/js/html2canvas.min.js"></script>
<link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.css" />
<script src="~/js/EditCreatescripts.js"></script>
<link rel="stylesheet" href="~/css/EditCreate.css" />
<script src="~/js/Messages.js"></script>





<style>
    #left-menu {
        height: 160px;
    }

</style>


<div class="form-container">

    <form id="SurveyForm">
        <div style="position: relative;">
            <div id="left-menu">
                <div title="Добавить вопрос" style="background: url(/images/SurveyIcon.svg) no-repeat -2px -3168px; width: 20px; height: 24px; cursor: pointer;" onclick="AddQuestion()"></div>
                <div title="Удалить опрос" style="background: url(/images/SurveyIcon.svg) no-repeat -5px -1203px; width: 14px; height: 18px; cursor: pointer;" onclick="RemoveSurvey('@Model.Id')"></div>
                <div title="Сохранить опрос" id="savebutton" style="background:url(/images/save.svg) no-repeat; width: 20px; height: 20px; cursor: pointer;" onclick="Save()"></div>
                <div title="Добавить картинку" id="addpicture" style="background:url(/images/addpicture.svg) no-repeat; width: 20px; height: 20px; cursor: pointer;" onclick="AddImage()"></div>
                <a href="@Url.Action("Index", "DisplaySurvey", new { id = Model.Id })" title="Посмотреть опрос" style="background: url(/images/SurveyIcon.svg) no-repeat -1px -2620px; width: 22px; height: 16px; cursor: pointer;"></a>
            </div>
        </div>

        @{
            string imgSrc;
            if (Model.AddedImage == null || Model.AddedImage.Length == 0)
            {
                imgSrc = "";
            }
            else
            {
                var base64 = Convert.ToBase64String(Model.AddedImage);
                imgSrc = String.Format("data:image/png;base64,{0}", base64);
            }
        }
        <div class="box header" style="@(imgSrc == "" ? "margin-top: 83px;" : "")">

            <div class="imagediv" style="@(imgSrc == "" ? "display:none;" : "")">
                <img id="addedimage" src="@imgSrc" onload="ImageLoaded()" />
                <input id="uploadinput" type="file" onchange="previewFile()" accept=".jpg, .jpeg, .png, .tif, .bmp, .gif">
                <div title="Удалить" id="deleteimagebutton" style="display:none;" onclick="DeleteAddedImage()"></div>
            </div>

            <div class="form-input">
                <input id="SurveyName" class="surveynameinput" type="text" placeholder="" required autocomplete="off"
                       oninvalid="this.setCustomValidity('Введите название опроса')"
                       oninput="setCustomValidity('')" value="@Model.Title">
                <lable class="surveynamelabel">Название опроса</lable>
            </div>
            <div class="form-input">
                <textarea id="SurveyDescription" oninput="DescriptionInput()" class="surveydescriptioninput @((Model.Description == "" || Model.Description == null) ? "" : "surveydescriptioninputfilled")" rows="1" placeholder="">@Model.Description</textarea>
                <lable class="surveydescriptionlabel">Описание (не обязательно)</lable>
            </div>
        </div>

        <div id="questions">
            @{
                string idhelper = "";
                var surveyquestions = Model.SurveyQuestion;
                for (int i = 0; i < surveyquestions.Count(); ++i)
                {
                    var surveyquestion = surveyquestions.First(x => x.Order == i);
                    <div id="@surveyquestion.Id" class="box" style="margin-top:1em;">

                        <div style="justify-content: center;display: flex;margin-top:1em;">
                            @{
                                idhelper = "move" + surveyquestion.Id;
                            }
                            <img id="@idhelper" src="/images/questiondots.png" style="cursor:move;" width="20" height="10">
                        </div>


                        <div class="question-settings">
                            <div class="leftdiv" style="position: relative;">
                                <textarea rows="1" class="questiontitleinput" type="text" placeholder="" required oninvalid="this.setCustomValidity('Введите название вопроса')" oninput="setCustomValidity('')">@surveyquestion.QuestionText</textarea>
                                <label class="questiontitlelabel">Название вопроса</label>
                            </div>
                            <div class="rightdiv">
                                @{
                                    idhelper = surveyquestion.Id + "select";
                                }
                                <select id="@idhelper" class="typeselect">
                                    @if (surveyquestion.Type == 0)
                                    {
                                        <option value="0" data-imagesrc="/images/text.png" data-description=" ">Текст</option>
                                        <option value="1" data-imagesrc="/images/star.png" data-description=" ">Рейтинг</option>
                                        <option value="2" selected="selected" data-imagesrc="/images/radiobox.png" data-description=" ">Один из списка</option>
                                        <option value="3" data-imagesrc="/images/checkbox.png" data-description=" ">Несколько из списка</option>
                                    }
                                    else if (surveyquestion.Type == 1)
                                    {
                                        <option value="0" data-imagesrc="/images/text.png" data-description=" ">Текст</option>
                                        <option value="1" data-imagesrc="/images/star.png" data-description=" ">Рейтинг</option>
                                        <option value="2" data-imagesrc="/images/radiobox.png" data-description=" ">Один из списка</option>
                                        <option value="3" selected="selected" data-imagesrc="/images/checkbox.png" data-description=" ">Несколько из списка</option>
                                    }
                                    else if (surveyquestion.Type == 2)
                                    {
                                        <option value="0" selected="selected" data-imagesrc="/images/text.png" data-description=" ">Текст</option>
                                        <option value="1" data-imagesrc="/images/star.png" data-description=" ">Рейтинг</option>
                                        <option value="2" data-imagesrc="/images/radiobox.png" data-description=" ">Один из списка</option>
                                        <option value="3" data-imagesrc="/images/checkbox.png" data-description=" ">Несколько из списка</option>
                                    }
                                    else if (surveyquestion.Type == 3)
                                    {
                                        <option value="0" data-imagesrc="/images/text.png" data-description=" ">Текст</option>
                                        <option value="1" selected="selected" data-imagesrc="/images/star.png" data-description=" ">Рейтинг</option>
                                        <option value="2" data-imagesrc="/images/radiobox.png" data-description=" ">Один из списка</option>
                                        <option value="3" data-imagesrc="/images/checkbox.png" data-description=" ">Несколько из списка</option>
                                    }
                                </select>
                            </div>
                        </div>

                        @{
                            idhelper = "options" + surveyquestion.Id;
                        }
                        <div id="@idhelper" name="options">
                            @if (surveyquestion.Type != 3)
                            {
                                var options = surveyquestion.Options;
                                @for (int j = 0; j < options.Count; ++j)
                                {
                                    var option = options.First(x => x.Order == j);
                                    <div id="@option.Id" class="optionseparation">

                                        <div class="optionleft">
                                            @{
                                                idhelper = "move" + option.Id;
                                            }
                                            <img id="@idhelper" src="/images/optiondots.png" width="10" height="20" style="cursor:move;">
                                        </div>

                                        <div class="optionright">
                                            <img id="image" src="/images/radioboxoptions.png" width="20" height="20">
                                            <input class="option-input" type="text" placeholder="Ответ" required="" oninvalid="this.setCustomValidity('Введите ответ')" oninput="setCustomValidity('')" value="@option.Text">
                                            <div title="Удалить ответ" name="picture" style="background: url('/images/SurveyIcon.svg') no-repeat -5px -4061px; width: 14px; height: 14px; zoom:1.4; cursor: pointer;" onclick="RemoveOption('@option.Id')"></div>
                                        </div>

                                    </div>
                                }
                            }
                        </div>

                        <div id="textoption" style="margin-top:1em;margin-left:5%;@(surveyquestion.Type == 2 ? "" : "display:none");">
                            <input style="width:94.5%;height: 30px;font-size: 15px;" disabled type="text" placeholder="Текстовый ответ">
                        </div>

                        <div id="ratingoption" style="@(surveyquestion.Type == 3 ? "" : "display:none");" class="ratingoption">
                            <div class="minselectdiv">
                                <select id="minselect" class="minselect">
                                    <option>0</option>
                                    <option>1</option>
                                </select>
                            </div>
                            <label style="margin-left:1em;">—</label>
                            <div class="maxselectdiv">
                                <select id="maxselect" class="maxselect">
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                            </div>
                        </div>


                        <div id="another" style="@((surveyquestion.Type == 0 || surveyquestion.Type == 1) && surveyquestion.HasOwnAnswer ? "" : "display:none");">
                            <img id="image" src="/images/radioboxoptions.png" width="20" height="20" style="margin-left:5%;">
                            <input class="option-input" style="width:87%;" disabled type="text" placeholder="Другое...">
                            <div title="Удалить другое" name="picture" style="background: url('/images/SurveyIcon.svg') no-repeat -5px -4061px; width: 14px; height: 14px; zoom:1.4; cursor: pointer;" onclick="RemoveAnother('@surveyquestion.Id')"></div>
                        </div>


                        <div id="addnew" class="addnew" style="margin-top:1em; @((surveyquestion.Type == 0 || surveyquestion.Type == 1) ? "" : "display:none");">
                            <img id="image" src="/images/radioboxoptions.png" width="20" height="20" style="margin-left:5%;">
                            <input style="height: 30px;font-size: 15px;width:127px" type="text" placeholder="Добавить вариант" onclick="AddOption('@surveyquestion.Id')" onkeydown="OnChangeAdd('@surveyquestion.Id')">
                            <label style="@(surveyquestion.HasOwnAnswer ? "display:none" : "");font-weight:normal"> или <a style="cursor:pointer;font-weight:bold" onclick="AddAnother('@surveyquestion.Id')">ДОБАВИТЬ ВАРИАНТ "ДРУГОЕ"</a></label>
                        </div>

                        <div class="hl" style="margin-top:1em;"></div>

                        <div class="beforequestionfooter"></div>
                        <div class="questionfooter" style="margin-top:0.5em;margin-bottom:0.5em;">
                            <div title="Удалить вопрос" name="picture" style="background: url(/images/SurveyIcon.svg) no-repeat -5px -1203px; width: 14px; height: 18px;margin-right:2em;cursor: pointer;" onclick="RemoveQuestion('@surveyquestion.Id')"></div>
                            <div class="vl" style="margin-right:2em"></div>
                            <div style="margin-right:0.5em">
                                <label style="color:rgba(51, 51, 51, 0.78);">Обязательный вопрос</label>
                            </div>
                            <div>
                                @{
                                    idhelper = surveyquestion.Id + "required";
                                }
                                <input type="checkbox" id="@idhelper" @(surveyquestion.IsRequired ? "checked" : "") style="display:none" />
                                <label for="@idhelper" class="toggle"><span name="span"></span></label>
                            </div>
                        </div>

                    </div>

                }
            }
        </div>

        <input id="submitButton" disabled class="submit" type="submit" style="display:none">

    </form>

</div>

<script>
    var addedquest;
    var addedopt;
    var check;

    $(document).ready(function () {
        OnReady();

        @{
            List<List<string>> quests = new List<List<string>>();
            foreach (var quest in Model.SurveyQuestion)
            {
                if (quest.Type == 3)
                {
                    List<string> q = new List<string>();
                    q.Add(quest.Id);
                    foreach (var opt in quest.Options.OrderBy(x => x.Order))
                    {
                        q.Add(opt.Text);
                    }
                    quests.Add(q);
                }
            }
        }

        var quests = '@Newtonsoft.Json.JsonConvert.SerializeObject(quests)';
        while (quests.indexOf('&quot;') >= 0) {
            quests = quests.replace('&quot;', '\"');
        }
        quests = JSON.parse(quests);

        MakeTypeSelectSlickOnReady(quests);

        MarginHead();

        $.ajax({
            url: "/Admin/GotAnswers",
            type: "GET",
            data: { id: '@Model.Id' },
            success: function (data) {
                check = data;

                if (check) {
                    ErrorMessage2(1);
                }
            }
        });
    });

    function Save() {

        var surveyid = '@Model.Id';
        var url = '@Url.Action("Edit", "Admin", new { id = "--ID--" })';

        $.ajax({
            url: "/Admin/GotAnswers",
            type: "GET",
            data: { id: surveyid },
            success: function (data) {
                check = data;

                if (check === null) {
                    surveyid = null;
                }

                if (check) {
                    ErrorMessage2(0);
                }
                else {
                    SaveCommon(surveyid, url);
                }
            }
        });
    }


</script>
